<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Tu plataforma de anuncios online de mascarillas %></h2>
    <h3>Catálogo de mascarillas</h3>

    <% masks.forEach(mask =>{ %>
      <p> -  <b>Tipo:</b> <%= mask.type %> | <b>Stock</b>: <%=mask.stock%> |  <b>Protección:</b> <%=mask.protection%></p>
    <%})%>
  </body>
</html>
